@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  list-style-type: none;
  text-decoration: none;
  line-height: 1.3;
}
body,
html{
    font-family:roboto, sans-serif;
}
/* custom color */
:root{
    --primary-color:#da2415;
    --gary-color:#c3c3c3;
    --light-gray-color:#ebebeb;
    --white-color:#ffff;
    --black-color:#000000;
    --off-white:#f7f7f7;
    --text-color:#939393;
}
/* custom rules */
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}

.btn{
    background: var(--primary-color);
    border-radius: 5px;
    color: var(--white-color);
}
.btn:hover{
    border: 1px solid var(--primary-color);
    background: var(--white-color);
    border-radius: 5px;
    color: var(--primary-color);
}
.container{
    width: 81%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}  
    /* ===== top nav ====== */
#topnav{
   background: var(--light-gray-color);
   min-height: 7vh;
}
#topnav .container{
   height: 7vh;
}
#topnav .container .links ul{
    display: flex;
    gap: 1rem;
}
#topnav .container .links ul li{
    font-size: .85rem;
    position: relative;
}
#topnav .container .links ul li ul{
    display: none;
}
#topnav .container .links ul li:hover ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 170%;
    text-align: center;
}
#topnav .container .links ul li a{
    color: var(--text-color);
    padding: 0.9rem 1.2rem;
}
#topnav .container .links ul li a.active{
    color: var(--black-color);
    background: var(--white-color);
}
#topnav .container .links ul li a:hover{
    color: var(--black-color);
    transition: all o.3s ease-in-out;
}

#topnav .container .social span{
    background: var(--gary-color);
    padding: .21rem;
    border-radius: 50%;
    color: var(--white-color);
    
}
#topnav .container .social span:hover{
    background-color: var(--black-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
/* top nav */
/* header  nav */
 header{
    background-color: var(--white-color);
    height: 20vh;
}
header .container{
    height: 20vh;
    flex-direction: column;
}
header .container .top{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}


header .container .top .top-right{
    display: flex;
    gap: 2rem;
}

header .container .top .top-right span a{
    color: var(--black-color);
}
header .container .top .top-right span :hover{
    color: var(--primary-color);
}
header .container .down{
    width: 100%;
    height: 10vh;

}
header .container .down ul{
    display: flex;
    height: 10vh;
    align-items: center;
    gap: 2.5rem;
}
header .container .down ul li a{
    color: var(--black-color);
    /* code pen  */
    position: relative;
    transition: transform 0.1s ease-in-out;
}
header .container .down ul li a::before,
header .container .down ul li a::after{
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    transition: transform 0.5s;
    left: 0;
    width: 100%;
    height: 2px;
    bottom: -10px;
    transform: scale(0);
    transform-origin: left;
}
header .container .down ul li a:hover:after{
    transform: scale(1);
}


/* main */
/* footer */

 /* ===== MEDIA QUERY ===== */
 /* ===== MEDIA QUERY ===== */
 /* ===== MEDIA QUERY ===== */
 /* @media only screen and (max-width: 600px){
    /*-====top nav ===== */
/* #topnav{
   min-height: 10vh;
   width: 100%;
}
#topnav .container{
   height: 10vh;
   flex-direction: column;
}

#topnav .container .social{
    height: 5vh;


}
#topnav .container .links ul{
    display: flex;
}
#topnav .container .links ul li{
    font-size: .65rem;
    position: relative;
}

}
#topnav .container .links ul li a{
    color: var(--text-color);
    padding: 0.1rem .5rem;
}
#topnav .container .links ul li a.active{
    color: var(--black-color);
    background: var(--white-color);
}
#topnav .container .links ul li a:hover{
    color: var(--black-color);
    transition: all o.3s ease-in-out;
}

#topnav .container .social span{
    background: var(--gary-color);
    padding: .11rem;
    border-radius: 50%;
    font-size: .8rem;
    color: var(--white-color);
    
}

    /*-====header nav ===== */
 /* header{
    background-color: var(--white-color);
    height: 20vh;
}
header .container{
    height: 20vh;
    flex-direction: column;
}
header .container .top{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
header .container .top .top-left{
    width: 40vw;
}

header .container .top .top-left img{
    width: 100%;
}


header .container .top .top-right{
    display: flex;
    gap: .51rem;
}

header .container .top .top-right span a{
    color: var(--black-color);
    font-size: .7rem;
}
header .container .top .top-right span :hover{
    color: var(--primary-color);
}
header .container .down{
    width: 100%;
    height: 10vh;

}
header .container .down ul{
    display: flex;
    height: 10vh;
    align-items: center;
    gap: 2.5rem;
}
header .container .down ul li a{
    font-size: .4rem;
}
header .container .down ul li a{
    color: var(--black-color);
    /* code pen  */
    /* position: relative;
    transition: transform 0.1s ease-in-out;
}
header .container .down ul li a::before,
header .container .down ul li a::after{
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    transition: transform 0.5s;
    left: 0;
    width: 100%;
    height: 2px;
    bottom: -10px;
    transform: scale(0);
    transform-origin: left;
}
header .container .down ul li a:hover:after{
    transform: scale(1); */
 */ */

    /*-====main nav ===== */

    /* main  */
    /* banner section  */
 main
main #banner{}
main #banner .swiper{}
main #banner .swiper .swiper-wrapper{}
main #banner .swiper .swiper-wrapper .swiper-slide{}
main #banner .swiper .swiper-wrapper .swiper-slide .slide-1{
    background-image: url(/assets//imgs//slider1.jpg);
    width: 100%;
    height: 80vh;
}
main #banner .swiper .swiper-wrapper .swiper-slide .slide-2{
    background-image: url(/assets//imgs//slider2.jpg);
    width: 100%;
    height: 80vh;
}
main #banner .swiper .swiper-wrapper .swiper-slide .slide-3{
    background-image: url(/assets//imgs/slider3.webp);
    width: 100%;
    height: 80vh;
}
main #banner .swiper .swiper-wrapper .swiper-slide .bg-slide .container{
 height: 80vh;
}
main #banner .swiper .swiper-wrapper .swiper-slide .bg-slide .container .text-cont{}
main #banner .swiper .swiper-wrapper .swiper-slide .bg-slide .container .text-cont h1{
 font-size: 3rem;
 font-weight: bold;
 text-transform: capitalize;
 color: var(--white-color);
 text-shadow: 0rem 0rem .22rem red;
 margin-bottom: 1rem;
}
main #banner .swiper .swiper-wrapper .swiper-slide .bg-slide .container .text-cont h1 > span {
    color: var(--primary-color);
    text-shadow: 0rem 0rem .22rem var(--white-color);
}
main #banner .swiper .swiper-wrapper .swiper-slide .bg-slide .container .text-cont p {
   font-size: 1rem;
   font-weight: bold;
   text-transform: capitalize;
   color: var(--black-color);
   margin-bottom: 1.3rem;
}
main #banner .swiper .swiper-wrapper .swiper-slide .bg-slide .container .text-cont .btn {
   padding: .72rem 1.6rem;
   color: var(--white-color);
   border-radius: .85rem;
}
main #banner .swiper .swiper-wrapper .swiper-slide .bg-slide .container .text-cont .btn:hover {
        color: var(--primary-color);
}
    /*-====footer nav ===== */
   
 